.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-desktop1 {
  width: 100%;
  height: 1361px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-rectangle1 {
  top: 33px;
  left: 90px;
  width: 50px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.home-text {
  top: 43px;
  left: 170px;
  color: rgba(255, 109, 3, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame1 {
  top: 43px;
  left: 1039px;
  width: 582px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  border-color: transparent;
}
.home-text02 {
  color: rgba(255, 109, 3, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 27px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text04 {
  color: rgba(255, 109, 3, 1);
  width: 143px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 27px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text06 {
  color: rgba(255, 109, 3, 1);
  width: 143px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 27px;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text08 {
  color: rgba(255, 109, 3, 1);
  width: 143px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text10 {
  top: 447px;
  left: 355px;
  color: rgba(255, 6, 170, 1);
  width: 952px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text11 {
  color: rgba(255, 6, 170, 1);
  font-weight: 700;
}
.home-image1 {
  top: 807px;
  left: 356px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-text17 {
  top: 743px;
  left: 367px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text19 {
  top: 883px;
  left: 351px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text24 {
  top: 1061px;
  left: 335px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text29 {
  top: 1057px;
  left: 529px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text34 {
  top: 1043px;
  left: 948px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text39 {
  top: 1053px;
  left: 1166px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text41 {
  top: 1053px;
  left: 752px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text43 {
  top: 883px;
  left: 545px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text48 {
  top: 887px;
  left: 752px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text53 {
  top: 883px;
  left: 945px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text58 {
  top: 879px;
  left: 1167px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-image2 {
  top: 807px;
  left: 545px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image3 {
  top: 807px;
  left: 762px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image4 {
  top: 807px;
  left: 950px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image5 {
  top: 807px;
  left: 1167px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image6 {
  top: 980px;
  left: 351px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image7 {
  top: 980px;
  left: 545px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image8 {
  top: 980px;
  left: 762px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image9 {
  top: 973px;
  left: 951px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-image10 {
  top: 973px;
  left: 1167px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.home-frame4 {
  top: 151px;
  left: 50px;
  width: 1673px;
  height: 261px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle2 {
  top: 0px;
  left: 0px;
  width: 310px;
  height: 261px;
  position: absolute;
  border-color: transparent;
}
.home-rectangle3 {
  top: 0px;
  left: 370px;
  width: 310px;
  height: 261px;
  position: absolute;
  border-color: transparent;
}
.home-rectangle4 {
  top: 0px;
  left: 740px;
  width: 310px;
  height: 261px;
  position: absolute;
  border-color: transparent;
}
.home-rectangle9 {
  top: 0px;
  left: 1480px;
  width: 301px;
  height: 261px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-rectangle11 {
  top: 0px;
  left: 1841px;
  width: 301px;
  height: 261px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-rectangle12 {
  top: 0px;
  left: 2202px;
  width: 301px;
  height: 261px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-rectangle8 {
  top: 0px;
  left: 1110px;
  width: 310px;
  height: 261px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-text63 {
  top: 555px;
  left: 356px;
  color: rgba(0, 0, 0, 1);
  width: 875px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
